<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=210.22.99.130,9010\SQL2008R2 ; User ID=sa; Password=aA1; Initial Catalog=CRMTREE;Timeout=60000" />
    <add name="CRMTREEConnectionString" connectionString="Data Source=210.22.99.130,9010\SQL2008R2 ;Initial Catalog=CRMTREE;Persist Security Info=True;User ID=sa;Password=aA1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="server=210.22.99.130,9010\SQL2008R2 ;database=CRMTREE;uid=sa;pwd=aA1" />
    <add key="CookieDomain" value="" />
    <add key="LoginUrl" value="" />
    <add key="LoginOutUrl" value="" />
    <!--<add key="FileUploadPath" value="F:\CRMTREE\CRMTREE\CRMTREE\CRMTREE.WEB\WebSite\plupload\file\" />-->
    <add key="FileUploadPath" value="D:\wwwroot\crmtree\plupload\file\" />
    <add key="DownFile" value="/DownFile"/>
    <!--批量上传配置  -->
    <add key="PLUploadFilter" value="jpg,jpeg,gif,png,bmp" />
    <add key="PLUploadPath" value="~/plupload/" />
    <add key="Wechat_Web_Url" value="http://www.daeku.com/" />
    <add key="Wechat_Web_Default_Image_Url" value="http://www.daeku.com/images/1.jpg" />
    <add key="DefaultLanguage" value="zh-cn"/>
    <!--<add key="DefaultLanguage" value="en-us"/>-->

    <!-- 正式环境 微信AppId和secret-->
    <add key="appId" value="wxc4bed49f745b646d"/>
    <add key="secret" value="7a23ed6ef4cdc88efeaecb8fe691ee39"/>
    
    <add key="suppotMailAccount" value="information@shunovo.com"/>
    <add key="suppotMailPwd" value="Thinktree123"/>
    <add key="mailServer" value="smtp.mxhichina.com"/>
    <add key="displayName" value="ThinkingTree"/>
    
    
    <!-- 测试环境 微信AppId和secret-->
    <!--<add key="appId" value="wxb6b589f4d9f0201b"/>
    <add key="secret" value="f989a727213fa3a09738e64c050f431a"/>-->
  </appSettings>
  <system.web>
    <!--   
            设置 compilation debug="true" 可将调试符号插入到
            已编译的页面。由于这会
            影响性能，因此请仅在开发过程中将此值
            设置为 true。
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <sessionState mode="InProc" stateConnectionString="tcpip=localhost:42424"  cookieless="false" timeout="15" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <remove value="default.aspx" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>