
*.log
.classpath
.project

sh.com.hibernate/.settings
sh.com.hibernate/target

sh.com.spring/.settings
sh.com.spring/target

sh.com.test/.settings
sh.com.test/target

sh.com.test.02/.settings
sh.com.test.02/target

sh.web/.settings
sh.web/target

sh.web.test/.settings
sh.web.test/target

sh.web.test.01/.settings
sh.web.test.01/target

sh.web.test.02/.settings
sh.web.test.02/target

.vs
packages
CRMTREE.DataMapping/AutomaticallyRun/bin
CRMTREE.DataMapping/AutomaticallyRun/obj

CRMTREE.DataMapping/ManullyModification/bin
CRMTREE.DataMapping/ManullyModification/obj

CRMTREE.DataMapping/MigrationService/bin
CRMTREE.DataMapping/MigrationService/obj

CRMTree.Library/CRMTree.BLL/bin
CRMTree.Library/CRMTree.BLL/obj

CRMTree.Library/CRMTree.DAL/bin
CRMTree.Library/CRMTree.DAL/obj

CRMTree.Library/CRMTree.Model/bin
CRMTree.Library/CRMTree.Model/obj

CRMTREE.WEB/CRMTree_Web/bin
CRMTREE.WEB/CRMTree_Web/obj

CRMTREE.WEB/WebSite/bin
CRMTREE.WEB/WebSite/obj

Shinfotech.Library/Shinfotech.Common/bin
Shinfotech.Library/Shinfotech.Common/obj

Shinfotech.Library/Shinfotech.Tools/bin
Shinfotech.Library/Shinfotech.Tools/obj

