

.Car_Description_Info {position:relative;height:94px}
.Btn_list {float:left; height:28px;}
.Btn_Car {border-style: none;border-color: inherit; border-width: medium; position:relative; top:6px; background:url(/images/tab_01.jpg) no-repeat;background-size:96px 25px;width:96px; height:25px; color:#336E24; cursor:pointer; font-size:12px;left: 0px;}


#My_Appointments {position: relative;height:320px;overflow:auto;padding:0px; margin:0px}
#My_Appointments .My_Appointments_1 {position: relative;left:2px; top:2px;padding:0px;margin:0px}
.My_Appointments_List {float:left;width:280px;height:65px; padding:0px;margin:0px 0px 0px 10px;}
#My_Rewards ul li,.My_Appointments_List ul{margin-bottom:5px}
#My_Rewards ul li,.My_Appointments_List ul li{text-align:left;font-size:15px;line-height:20px;color:#252525}
#My_Rewards ul li ul li,.My_Appointments_List ul li ul li{text-align:left;margin-left:30px;font-size:13px;line-height:18px;color:#888888}
  

#My_Car {position: relative;float:left;height:320px; padding:0px;margin:0px;overflow:inherit;overflow:auto}
#My_Car .Car_info_1 {position:relative;float:left;left:2px; top:2px; border-bottom:1px solid #d2d2d2;width:670px; height:100px; padding:0px;margin:0px;}
.Car_Image {float:left;border-right:1px solid #d2d2d2;width:93px; height:96px; padding:0px;margin:0px}
.Car_Desc {float:left;border-right:1px solid #d2d2d2;width:150px;height:96px;padding:0px;margin:0px}
.Car_Description_Info {text-align:left; padding-left:4px;}
.Car_Recommend {float:left;border-right:1px solid #d2d2d2;width:150px;height:96px; padding:0px;margin:0px;}
.Car_Btn {float:left;border-right:1px solid #d2d2d2;width:120px;height:96px; padding:0px;margin:0px}
.Car_Consultant{float:left;border-right:1px solid #d2d2d2;width:140px;height:96px; padding:0px;margin:0px;cursor:pointer; display:none}
.Car_Consultant div span{color:#0a8a3d;cursor:pointer;height:30px;position:relative;top:-10px;}
.Car_AD_1,.Car_AD_2{height:48px;}
.hidCar_Consultant{float:left;border-right:1px solid #d2d2d2;width:152px;height:96px; padding:0px;margin:0px;vertical-align:middle}
.hidCar_Consultant div{margin-top:20px;}

.Contact_EA {width:160px;height:90px;border-radius: 4px 4px 0 0;outline: 0;border: 1px solid #666;position:relative;-position:relative;z-index: 1991;left: 1px;top: 1px;font-size: 12px;line-height: 1.666;box-shadow: 0 0 10px rgba(0,0,0,.5);background: #fafafa;display:none}
.Contact_EA div{height:28px;border-bottom:1px solid #d2d2d2;}
.Contact_EA div span{position:relative;top:10px;}

.Contact_EAS {width:260px;height:300px;border-radius: 4px 4px 4px 4px;outline: 0;border: 1px solid #666;position:absolute;-position:relative;z-index: 1991;left: -110px;top: 1px;font-size: 12px;box-shadow: 0 0 5px rgba(0,0,0,.5);background: #fafafa;display:none}
.adviser_Info{height: 110px; border-bottom: 1px solid #d2d2d2; margin: 2px;}
.adviser_Info_Image{float: left; width: 100px; border-right: 1px solid #d2d2d2;}
.adviser_Info_Image .image{width: 90px; padding: 0px; margin: 0px}
.adviser_Info_Con{float: left; width: 150px; border-right: 1px solid #d2d2d2; text-align: left; vertical-align: bottom; line-height: 1.8em;}
.adviser_contact{}
 .adviser_Mobile{height: 65px; border-bottom: 1px solid #d2d2d2;}
 .adviser_Mobile div .image{width: 40px; padding: 0px; margin: 2px; margin-top: 4px;}



.SendEmail_Windows{width:600px;height:400px;border-radius: 4px 4px 0 0;outline: 0;border: 1px solid #666;position:absolute;-position:absolute;z-index: 999;left: 400px;top: 200px;font-size: 12px;line-height: 1.666;box-shadow: 0 0 10px rgba(0,0,0,.5);background: #fafafa;display:none}



.Car_info_1 ul{margin-top:5px}
.Car_info_1 ul li{text-align:left;font-size:15px;line-height:20px;}

#My_Rewards {position: relative; height:200px; margin:0px;margin-left:10px;}

#My_Dealers {position: relative; height:100px; margin:0px}
#My_Dealers .My_Dealers_1 {position:relative;float:left;top:2px; width:990px;}
.Dealers_Info {float:left;border-right:1px solid #d2d2d2;width:350px; height:90px; padding:0px;margin:0px}
.Dealers_Event {float:left;border-right:1px solid #d2d2d2;width:500px;height:90px;padding:0px;margin:0px}
.Dealers_Review {float:left;border-right:1px solid #d2d2d2;width:150px;height:90px; padding:0px;margin:0px}

#Dealers_Recommend {position: relative; height:100px; margin:0px}
#Dealers_Recommend .Dealers_Recommend_1 {position: relative;left:2px; top:2px;width:990px;padding:0px;margin:0px}
.Dealers_Recommend_Info_1 {float:left;border-right:1px solid #d2d2d2;width:327px; height:90px; padding:0px;margin:0px}


/*阴影层*/
.nui-mask {position: absolute;z-index: 998;left:-2px;top: 0;width: 100%;height: 100%;background: #000;opacity: .01;filter: alpha(opacity=1);display:none} 
/*弹出层*/
.nui-msgbox {width:350px;height:110px;border-radius: 4px 4px 4px 4px;outline: 0;border: 1px solid #666;position:relative;-position:relative;z-index: 999;left: 1px;top: 3px;font-size: 12px;line-height: 1.666;box-shadow: 0 0 10px rgba(0,0,0,.5);background: #fafafa;display:none}
.nui-MyType {width:182px;border:1px solid #666;position:relative;-position:relative;z-index: 999;left:1px;top:4px;font-size:12px;line-height:2;box-shadow: 0 0 5px rgba(0,0,0,.5);background: #fafafa;display:none;}

/*App页面*/
.Appointment_Contene{border: 1px solid #d2d2d2; margin-top: 5px; width: 730px; height: 250px;}
.Appointment_info_1 {position:relative;float:left;left:2px;top:2px;border-bottom:1px solid #d2d2d2;width:728px;height:30px; padding:0px;margin:0px;display:block}
.Appointment_Table{float:left;border-right:1px solid #d2d2d2;width:150px;height:28px; text-align:left;padding:0px;margin:0px}
.Appointment_Table span{position:relative;top:5px;font-size:14px;font-style:oblique;height:28px;}
.Appointment_Table_2{float:left;width:182px;height:25px;padding:0px;margin:0px}
.Appointment_Table_2 input{position:relative;top:3px;height:18px;width: 180px; cursor: pointer;}
.Appointment_Table_2 div{position: relative;left: 3px}
.Appointment_Table_3{float:left;width:150px;height:25px;padding:0px;margin:0px;}
.Appointment_Table_3 input{position:relative;top:3px;height:18px;}
.Appointment_Table_4{position: relative;left:10px;float:left;width:180px;height:28px;padding:0px;margin:0px;display:block}
.Appointment_Table_4 input{position:relative;top:3px;height:18px;width: 180px;cursor:pointer;}
.Appointment_Table_5{position: relative;left:15px;float:left;width:180px;height:28px;padding:0px;margin:0px;display:none}
.Appointment_Table_5 input{position:relative;top:3px;height:18px;width: 180px;cursor:pointer;}

.CarInfo{float: left; margin-left:10px;margin-top:1px; width: 93px; border: 1px solid #d2d2d2; cursor: pointer;}
.CarInfo div img{position: relative; top: 2px; width: 91px; padding: 0px; margin: 0px}
.Car_Model{overflow: hidden}