body {margin:0px;padding:0px;font-family:Arial}
.SelectField{background-color:#F5EDD1;vertical-align:middle;height:30px;margin:2px 2px;}
.SelectField span{margin-left:3px;}
.SelectField input{width: 120px; height: 20px;margin-top:3px;}
.Btn_ServerHistory{height:25px;width: 150px;}

.Service{font-size:15px;}
.ServiceInfo_list{ border:1px solid #d2d2d2;margin:0px 2px;}
.ServiceTite{background-color:#E9D1BB;height:28px;}
.ServiceTite div{padding-top :4px;}

.ServiceInfo{}
.ServiceInfo div{padding-top :4px;}
.ServiceInfo_single{height:28px;margin:0px 4px;cursor:pointer;vertical-align:middle;}
.ServiceInfo_single .ServiceInfo_It{margin-top:3px;}
.ServiceInfo_double{background-color:#FCF8ED;height:28px;margin:0px 4px;cursor:pointer;}
.ServiceInfo_double .ServiceInfo_It{margin-top:3px;vertical-align:middle;}

.ServiceInfoCon{border:1px solid #d2d2d2;margin:0px 4px;display:none;cursor:pointer;}
