*{margin:0;padding:0;}
body {font:normal 12px/1.5 'Arial','simsun';color:#333;}
.bg_table {position:relative;margin:0px auto;width:760px;height:410px;background:url(/images/icon/sj_bg.gif) no-repeat;}
.date_nam,.pay_person,.pay_case,.pay_amount,.note,.unit_review,.add_tel {position:absolute;left:0;width:760px;}
.date_nam{top:94px;}
.pay_person{top:130px;left:175px;width:auto;}
.pay_case{top:150px;left:175px;width:508px;}
.pay_amount{top:240px;/*left:195px;width:auto;*/}
.note{top:285px;left:132px;width:auto;}
.unit_review{top:325px;*top:328px;}
.add_tel{top:362px;}
.date_nam .date {position:absolute;top:0;left:142px;}
.date_nam .namber{position:absolute;top:0;left:500px;color:#C00; }
.pay_amount .amount_big{position:absolute;top:0;left:195px;}
.pay_amount .amount_small {position:absolute;top:0;left:570px;}
.unit_review .unit {position:absolute;top:0;left:160px;}
.unit_review .review {position:absolute;top:0;left:415px;}
.unit_review .JingShouRen {position:absolute;top:0;left:590px;}
.add_tel .add{position:absolute;top:0;left:115px;}
.add_tel .tel{position:absolute;top:0;left:495px;}

.line2{line-height:40px;}
.line3{line-height:20px;}
.line4{line-height:19px;}

.button{text-align:center;padding-top:20px;}
.button input,
.button a{cursor:pointer;width:95px;height:34px;line-height:34px;text-align:center;border:0 none;color:#333;background:url(/images/icon/btn.png) no-repeat -100px -400px; vertical-align:middle;}
.button input:hover,
.button a:hover{background-position:100% -400px;}
.button a{display:inline-block;*display:inline;*zoom:1;text-decoration:none;}

.page{position:absolute;top:40px;left:60px;}