<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CRMTREEConnectionString" connectionString="Data Source=crmtree123.sqlserver.rds.aliyuncs.com,3433 ;Initial Catalog=CRMTREE;Persist Security Info=True;User ID=crmtree_dbo;Password=crmtree_dbo_prod" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>